body {
	background-color: blue;
	display: block;
}

canvas {
	position: absolute;
	top: 100px;
	left: 212px;
	background: transparent;
}
#background {
	z-index: -2;
}
#main {
	z-index: -1;
}
#ship {
	z-index: 0;
}
#menu {
	z-index: 100;
}

