body {
	background-color: blue;
	display: block;
	width: 1280px;
}

canvas {
	position: absolute;
	background: transparent;
	left: 50%;
	top: 50%;
	margin-left: -300px;
	margin-top: -192px;
}
#background {
	z-index: -2;
}
#main {
	z-index: -1;
}
#ship {
	z-index: 0;
}
#menu {
	z-index: 1;
}

